body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.introduction-text {
    width: 400px;
}

.main h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main img {
    background-color: #3882F6;
    width: 400px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    justify-content: space-around;
}

.information h3{
    text-align: center;
}

.information img {
    width: 100px;
    height: 100px;
    border: #3882F6;
    border-radius: 10%;
    border-width: 5px;
}

.quote {
    background-color: #E5E7EB;
    padding: 40px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
}

#quote-author {
    font-size: 24px;
    color: #1F2937;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero, .footer, .information, .quote, .call-to-action {
    padding: 0 10vw;
}

ul {
    display: flex;
    gap:30px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10%;
    border-style: none;
    padding: 10px 20px;
}


